

.st-emotion-cache-124fx4h {
    padding: 0rem 0.0rem;
    border-radius: 0.5rem;
    min-height: 0px;
    margin: 0px;

}

html {
    font-size: 14px;
}

hr {
    margin: 0px;
    padding: 0px;

}

.st-emotion-cache-144mis {
    position: relative;
    top: 0px;
    background-color: rgb(234 234 234);
    z-index: 999991;
    min-width: 150px;
    max-width: 150px;

}

.st-emotion-cache-p332ag {
    gap: 0.1rem
}

.st-emotion-cache-zsoog7 {
    gap: 0.1rem
}

.st-emotion-cache-d23ron {
    gap: 0.1rem
}

.st-emotion-cache-135105r {
    gap: 0.1rem
}

.st-emotion-cache-3ai54q {
    gap: 0.1rem
}

.st-emotion-cache-1sacife {
    gap: 0.1rem
}

.st-emotion-cache-r95moa {
    gap: 0.1rem
}

.st-emotion-cache-1vw28oz {
    gap: 0.1rem
}

.st-emotion-cache-1iy4dal {
    gap: 0.1rem
}

.st-emotion-cache-vqpk0x {
    width: 1686px;
    gap: 0rem;
}

.st-emotion-cache-vqpk0x {
    width: 1686px;
    gap: 0rem
}

.st-emotion-cache-v09qz {
    width: 1686px;
    gap: 0rem
}

.st-emotion-cache-1ln2a99 {
    gap: 0.1rem
}

.st-emotion-cache-auotaw {
    gap: 0.1rem
}

.st-emotion-cache-v7bbax {
    gap: 0.1rem
}

.st-emotion-cache-1tca5hb {
    gap: 0.1rem
}

.st-emotion-cache-1ccyijd {
    gap: 0.1rem
}

.st-emotion-cache-f6bu01 {
    gap: 0.1rem
}

.st-emotion-cache-pm5t7y {
    gap: 0.1rem
}

.st-emotion-cache-1e3wl72 {
    gap: 0.1rem
}

.st-emotion-cache-16urcko {
    gap: 0.1rem;
}


.st-emotion-cache-1nljv5e {
    gap: 0.1rem;
}

.st-emotion-cache-1l7ufhy {
    gap: 0.1rem
}

.st-emotion-cache-1ozucdn {
    gap: 0.1rem
}

.st-emotion-cache-we4mm4 {
    gap: 0.1rem
}

.st-emotion-cache-1j9a82x {
    gap: 0.1rem
}

.st-emotion-cache-1l7afn9 {
    gap: 0rem;
}

.st-emotion-cache-pdyume {
    gap: 0rem;
}

.st-emotion-cache-gwaioh {
    gap: 0rem;
}

.st-emotion-cache-gbh6yf {
    gap: 0rem;
}

.st-emotion-cache-1umgz6k {
    line-height: 1.1;
}

.st-emotion-cache-oducjk {
    gap: 0.1rem;
}


.st-emotion-cache-bcqbci {
    gap: 0rem;
}

.st-emotion-cache-16dh2za {
    gap: 0rem;
}


.st-emotion-cache-zbmw0q:disabled {
    display:none
}

.st-emotion-cache-zbmw0q {
    display:none
}

.st-emotion-cache-7ym5gk {
    padding: 0rem 0.25rem;
    min-height: 30px;
}



.st-emotion-cache-1umgz6k {
    padding: 0rem 0.25rem;
    min-height: 30px;
}

.st-emotion-cache-shbelf {
    padding: 0rem 0.25rem;
    min-height: 30px;
}

.st-emotion-cache-7ym5gk {
    border: 1px solid rgb(255 255 255);
}

.st-emotion-cache-1gv3huu {
    position: relative;
    top: 2px;
    background-color: rgb(234 234 234);
    z-index: 999991;
    min-width: 244px;
    max-width: 550px;
    transform: none;
    transition: transform 300ms ease 0s, min-width 300ms ease 0s, max-width 300ms ease 0s;
}


